<table  cellspacing='1' cellpadding='3' border='0' class='outer'>
	<{foreach item=quiz from=$block}>
		<{if $quiz.status==1}>
			<tr class="<{cycle values="even,odd"}>">
				<{if $quiz.active==1}>
					<td>
						<a href="<{$xoops_url}>/modules/quiz/?act=v&q=<{$quiz.id}>">
							<{$quiz.name}>
						</a>
					</td>
					<td>
						<a href="<{$xoops_url}>/modules/quiz/?act=v&q=<{$quiz.id}>">
							<{$smarty.const._BL_QUIZ_ACTIVE}>
						</a>	
					</td>
					<{else}>
					<td>
						<a href="<{$xoops_url}>/modules/quiz/?act=s&q=<{$quiz.id}>">
							<{$quiz.name}>
						</a>
					</td>
					<td>
						<a href="<{$xoops_url}>/modules/quiz/?act=s&q=<{$quiz.id}>">
							<{$smarty.const._BL_QUIZ_UNACTIVE}>
						</a>	
					</td>
				<{/if}>	
			</tr>
		<{/if}>	
	<{/foreach}>
</table>