<table  cellspacing='1' cellpadding='3' border='0' class='outer'>
	<{foreach item=quiz from=$block}>
		<{if $quiz.status==1 && $quiz.active==1}>
			<tr class="<{cycle values="even,odd"}>">
				<td>
					<a href="<{$xoops_url}>/modules/quiz/?act=v&q=<{$quiz.id}>">
						<{$quiz.name}>
					</a>
				</td>
				<td>
					<a href="<{$xoops_url}>/modules/quiz/?act=v&q=<{$quiz.id}>">
						<{$quiz.question}> <{$smarty.const._BL_QUESTION}>
					</a>
				</td>
			</tr>
		<{/if}>	
	<{/foreach}>
</table>